/* Importation de Bootstrap */
@import 'bootstrap/dist/css/bootstrap.min.css';

/* Styles personnalisés */
:root {
    --primary-color: #0d6efd;
    --text-color: #333333;
}

body html {
    min-height: 100vh;
    background-color: #1d1f27;
    background-image: url("/mon-portfolio/public/images/projets/bg.jpg");
}

.nav-link:hover {
    color: var(--primary-color) !important;
}

/* Style pour le menu mobile */
.mobile-menu {
    transition: all 0.3s ease-in-out;
}

/* Style pour l'avatar */
.avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}